input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  min-height: 150px;
  max-height: 250px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  padding: 2% 15%;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 600px;

    .form-row {
      display: flex;
      gap: 10px;
    }

    .form-group {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

button {
  background-color: #0095ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;

  &:hover {
    background-color: #0077cc;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
