.character-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-image {
  width: 100%;
  height: 360px;
  cursor: pointer;
}

.hero-name {
  cursor: pointer;
}

.characters {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}

.character {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 15px;
  justify-content: flex-start;
}
